<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./custom.css">
</head>

<body>
    <div class="page">
    <div>
            <nav >
                
                    <div><img src="images/mlogo.png" id="mlogo"></div>

                    <div><a href="index.html">Home</a></div>
                    <div><a href="Unranked.html">Unranked</a></div>
                    <div><a href="Competitive.html">Competitive</a></div>
                    <div><a href="Custom.html">Custom</a></div>
                    <div class="rightnav">  
                           <button id="signb"> 
                                <a href="signup.html">SIGN UP </a>
                            </button>
                        </div>
                    <div class="rightnav">    
                         <button id="logb">    
                             <a href="login.html">LOG IN </a>
                        </button>
                    </div>

                   
                
         </nav>
    </div>